@model IEnumerable<Collections.Models.Item>

@{
    ViewBag.Title = "Lista przedmiotów";
    List<Collections.Models.Type> typeList = ViewBag.typeList;
    List<Collections.Models.User> userList = ViewBag.userList;
}

<h2>@ViewBag.Title</h2>
<hr />

<p>
    @Html.ActionLink("Dodaj nowy", "Add")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdd)
        </td>
        <td>
            @if (!item.Publ)
            { <span class="glyphicon glyphicon-remove"></span> }
            else
            { <span class="glyphicon glyphicon-ok"></span> }
        </td>
        <td>
            @userList.Select(e => e).Where(e => e.ID == item.IDUser).First().Name
        </td>
        <td>
            @typeList.Select(e => e).Where(e => e.ID == item.IDType).First().Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.IDItem }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.IDItem }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.IDItem })
        </td>
    </tr>
}

</table>
